
/data/raw/
/data/interim/
/data/external/


!data/raw/.gitkeep
!data/interim/.gitkeep
!data/external/.gitkeep


*.XPT
*.SAS7BDAT
*.ASC
*.XLS
*.XLSX
*.ZIP
*.7Z
*.RAR
*.tar
*.gz
*.bz2
*.Z
*.sav
*.dta
*.rds
*.parquet


*United States and Puerto Rico Cancer Statistics*.csv
*United States and Puerto Rico Cancer Statistics*.txt

.ipynb_checkpoints/
*.ipynb~*

.DS_Store
Thumbs.db
*.swp


__pycache__/
*.pyc
